.cover-image {
  // Carousel transition speed
  .v-window {
    &-x-transition,
    &-x-reverse-transition {
      &-enter-active,
      &-leave-active {
        transition: 5s cubic-bezier(0.25, 0.8, 0.5, 1) !important;
        transition-delay: 2s;
      }
    }
  }

  h1 {
    color: black;
    font-weight: 600;
  }
}

.v-carousel-item {
  .v-responsive__content {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }
}
