@import './base.css';

.navigation__content {
    height: calc(100vh - 100px);
}

.navigation {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: rgba(var(--v-theme-background), 0.8); // CC = 80% opaque

}

.v-tab__slider {
    bottom: -5px;
}

.theme-switch {
    .v-input__details {
        padding: 0;
        max-height: 0;
        min-height: 0;
    }
}

.project-card {
    transition: transform 5s;
}

.project-card:hover img {
    transform: scale(1.1);
}

.project-share {
    border-top: 2px solid rgb(var(--v-theme-primary));
    border-bottom: 2px solid rgb(var(--v-theme-primary));
    width: 100%;
}

.project-nav {
    width: 100%;
}

a {
    color: rgb(var(--v-theme-text));
}