@import './base.css';

.navigation__content {
    height: calc(100vh - 100px);
}

.navigation {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: rgba(var(--v-theme-background), 0.8);

}

.v-footer {
    .logo {
        img {
            position: relative;
            left: 16vw;
        }
    }
}

.v-tab__slider {
    bottom: -5px;
}

.theme-switch {
    .v-input__details {
        padding: 0;
        max-height: 0;
        min-height: 0;
    }
}

.project-card {
    transition: transform 10s;
}

.project-card:hover img {
    transform: scale(1.1);
}

.project-share {
    border-top: 2px solid rgb(var(--v-theme-primary));
    border-bottom: 2px solid rgb(var(--v-theme-primary));
    width: 100%;
}

.project-nav {
    width: 100%;
}

a {
    color: rgb(var(--v-theme-text));
    text-decoration: none;
}

.slider-enter-active {
    transition: transform 1s;
}

.slider-enter-from {
    transform: translateY(-100%);
}

.slider-enter-to {
    transform: translateY(0);
}

// Carousel transition speed
.cover-image {
    .v-window {
        &-x-transition,
        &-x-reverse-transition {
            &-enter-active,
            &-leave-active {
                transition: 4s cubic-bezier(0.25, 0.8, 0.5, 1) !important;
            }
        }
    }
}

.v-carousel-item {
    .v-responsive__content {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
    }
}

.cursor {
    cursor: pointer;
}